_build.*
.sconsign.dblite
config.log
.sconf_temp
*.o
*.os
*.so
*.cfgc
*.pyc
.cache
pytest_session.txt
.coverage
lib/libbase.*
python/lsst/base/version.py
doc/html
doc/doxygen.conf
doc/base.tag
doc/base.inc
tests/.tests
tests/ptr
tests/testModuleImporter1
doc/xml
